<nav class="navbar">
    <div class="container-header">

        <h1 class="logo">Air<span>DnD</span></h1>
  
        <nav class="site-nav">
            
          <button class="menu-toggle" 
                  aria-controls="primary-navigation"
                  aria-expanded="false">
            <span class="visually-hidden">Menu</span>
            <div class="hamburger" aria-hidden="true"></div>
          </button>
  
          <ul data-state="closed" class="primary-navigation" id="primary-navigation">
            <li><a href="/"><i class="bi bi-house site-nav--icon"></i>Home</a></li>
            <li><a href="/rooms"><i class="bi bi-houses site-nav--icon"></i>Rooms</a></li>
            <li class="disabled"><a href=""><i class="bi bi-calendar-check site-nav--icon"></i>Reserva</a></li>
            <li class="disabled"><a href=""><i class="bi bi-card-image site-nav--icon"></i>Que Hacer</a></li>
            <li class="disabled"><a href=""><i class="bi bi-bus-front site-nav--icon"></i>Como llegar</a></li>
            <li class="disabled"><a href=""><i class="bi bi-envelope site-nav--icon"></i>Contacto</a></li>
          </ul>
  
        </nav>
  </nav>
  <script src="/js/header.js"></script>
</div>