<meta charset="UTF-8">

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" type="text/css" href="/css/main.css">
<link rel="icon" href="/svg/A.svg">
<title>AirDnD</title>
<style>
</style>