<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>
<body class="container">
  
<header>
  <%- include('../partials/header.ejs') %>
</header>

<main>
  <div class="jumbotron">
    <h1>Pagina de Navegacion de Ejemplo</h1>
    <p>Es dificil usar EJS</p>
  </div>

</main>

<footer>
  <%- include('../partials/footer.ejs') %>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</body>
</html>